:root {
  --extensions-font: 'NotoSans', Arial, Helvetica, sans-serif;
  --gray-100: hsl(0, 0%, 93%);

  --blue-dark-color: #050A1D;
  --active-dark-color: hsl(3, 71%, 56%);
  --dark-background: #202535;
  --dark-background-outline: #353741;
  --dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%) no-repeat;
  --overlay-dark-background: #2d3345;
  --inactive-dark-toggle: #495565;
    
  --active-light-color: hsl(3, 77%, 44%);
  --light-background-outline: hsl(217, 61%, 90%);
  --light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%) no-repeat;
  --inactive-light-toggle: hsl(0, 0%, 78%);
  --light-grey-color: hsl(0, 0%, 93%);
  }