.tooltip-menu{
    display: inline-block;
    color: rgba(255,255,255,.5);
    cursor: help;
}

.constru {
    position: relative;
}

.tooltip-footer{
    display: inline-block;
    color: rgba(255,255,255,.5);
    cursor: help;
}

.tip {
    visibility: hidden;
    width: auto;
    width: 150px;
    background-color: #ef4e22;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tip.active {
    visibility: visible;
    opacity: 1;
}

.tip::after {
    content: "";
    position: absolute;
    bottom: 95%;
    left: 50%;
    margin-left: -8px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #ef4e22 ;
    transform: rotate(180deg);
}

.container {
    background-color: #4d4d4d;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.container a {
    padding: 10px 20px;
    margin: 0 10px;
}

a.tooltip-visible {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.tooltip-container {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ef4e22;
    padding: 5px 10px;
    max-width: 150px;
    width: 100%;
    border-radius: 8px;
}

.tooltip-container::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    border-color: transparent;
    border-width: 10px;
    border-style: solid;
    border-bottom-color: #ef4e22;
    transform: translateX(-50%);
}
