@font-face {
    font-family: "NotoSans";
    src: local("NotoSans"),
      local("NotoSans Regular"),
      url("./NotoSans-Regular.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "NotoSans";
    src: local("NotoSans"),
      local("NotoSans Medium"),
      url("./NotoSans-Medium.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "NotoSans";
    src: local("NotoSans"),
      local("NotoSans Bold"),
      url("./NotoSans-Bold.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
